.span6.panel.middlepanel#panel_playlists
  %nav#panel_playlists_tabs.tabbable
    %ul.nav.nav-tabs
      %a.pull-right.btn.btn-small#new_playlist_button{ :rel => "tooltip", :title => "Add playlist", :"data-placement" => "bottom" }
        %i.icon-plus
  #panel_playlists_contents.tab-content



