.panel.sidepanel#panel_search
  .search-box
    .input-append
      .field
        %input#search_field{ :type => "text", :placeholder => "Search for SoundCloud tracks", :autofocus => true }
      %a.add-on.btn#search_button.btn{ :type => "button" }
        %i.icon-search

  .search-results.playlist-container#panel_search_results
    %table
      %tbody.playlist-dragndrop

