.panel.sidepanel#panel_search
  .search-box
    .input-append
      %input#search_field{ :type => "text", :placeholder => "user name, track name, URL..." }
      %a.add-on.btn#search_button.btn{ :type => "button" }
        %i.icon-search

  .search-results#panel_search_results
    %table
      %tbody.playlist-dragndrop

