.navbar.navbar-static-top.navbar-inverse
  .navbar-inner
    .container-fluid
      =link_to "CloudAmp", root_url, :class => "brand"
      %ul.nav
        %li
          %a#nav_about
            About CloudAmp
      .pull-right
        .navbar-text.authentication
          You are using CloudAmp as 
          =image_tag session[:soundcloud_avatar_url], :alt => ""
          %span.username
            =session[:soundcloud_username]

          =button_to "Sign out", session_path, :method => :delete, :class => "btn"

