.span4.panel.sidepanel#panel_search
  .search-box
    .control-group
      .controls
        .input-prepend
          %span.add-on
            %i.icon-search
          %input#search_field{ :type => "text", :placeholder => "user name, track name, URL..." }
          %input#search_button.btn{ :type => "button", :value => "S" }

    #panel_search_results.search-results
      %ul.playlist-dragndrop

  =render :partial => "templates_search"

