%script#track-template{ :type => "text/template" }
  %td.artwork
    %img{ :src => "<%- artwork_url %>".html_safe, :alt => "" }
  %td.title
    <%- title %>
  %td.duration
    00:00:00
  %td.action.action-play
    %a.btn.btn-small{ :rel => "tooltip", :title => "Play this track", :"data-placement" => "top" }
      %i.icon-play
  %td.action.action-remove
    %a.btn.btn-small{ :rel => "tooltip", :title => "Remove this track", :"data-placement" => "top" }
      %i.icon-remove

