%script#track-template{ :type => "text/template" }
  %td.artwork
    <% if(artwork_url != null) { %>
    %img{ :src => "<%- artwork_url %>".html_safe, :alt => "" }
    <% } %>
  %td.title
    <%- title %>
  %td.duration
    <%- duration %>
  %td.action.action-play
    %a.btn.btn-small{ :rel => "tooltip", :title => "Play this track", :"data-placement" => "left" }
      %i.icon-play
  %td.action.action-remove
    %a.btn.btn-small{ :rel => "tooltip", :title => "Remove this track", :"data-placement" => "left" }
      %i.icon-remove

