%h1
  CloudAmp
%h2
  Ultimate online player for&nbsp;SoundCloud

-if flash[:error]
  .alert.alert-error=flash[:error]

=link_to image_tag("http://connect.soundcloud.com/2/btn-connect-sc-l.png", :alt => "Connect with SoundCloud"), redirect_authentication_path
