/*
 *= require twitter/bootstrap
 *= require_self
 */


/* GENERAL TWEAKS */
.container-fluid {
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/* Make app fullscreen */
html, body.player, .container-fluid, .row-fluid, .panel {
  height: 100%;
  overflow: hidden;
}




/* ALL FORMS */
.errorneous {
  color: #cc0000 !important;
}


/* ALL PANELS */
.panel {
  padding: 1em;
}


/* SEARCH PANEL */

#panel_search .search-results li {
  clear: left;
  margin-bottom: 8px;
}

#panel_search .search-results li:hover {
  background: #f0f0f0;
  cursor: move;
}

#panel_search .search-results .artwork {
  float: left;
}

#panel_search .search-results .artwork img {
  width: 24px;
  height: 24px;
}

#panel_search .search-results .title {
  padding-left: 44px;
}


/* PLAYLIST PANEL */

/* Playlists should fill vertically the window */
#panel_playlists .tab-content, #panel_playlists .tab-panel {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#panel_playlists_contents .tab-pane, #panel_playlists_contents ul {
  height: 100%;
}


