/*
 *= require twitter/bootstrap
 *= require_self
 */

/* Reset default Bootstrap padding for container */
.container-fluid {
  padding: 0;
}


/* Panels */
.panel {
  padding: 1em;
}


/* Forms */
.errorneous {
  color: #cc0000 !important;
}


/* Search */
.search-results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  clear: left;
  margin-bottom: 8px;
}

.search-results .artwork {
  float: left;
}

.search-results .artwork img {
  width: 24px;
  height: 24px;
}

.search-results .title {
  padding-left: 44px;
}

