/*
 *= require twitter/bootstrap
 *= require_self
 */


/* GENERAL TWEAKS */
.container-fluid {
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/* Make app fullscreen */
html, body.player, .container-fluid, .row-fluid, .panel {
  height: 100%;
  overflow: hidden;
}


/* All forms */
.errorneous {
  color: #cc0000 !important;
}


/* All panels */
.panel {
  padding: 1em;
}


/* Tracks */
tr.track td {
  padding: 8px;
}

tr.track:hover {
  cursor: move;
  background: #f0f0f0;
}


tr.track td.artwork, tr.track td.artwork img {
  width: 24px;
  height: 24px;
}

tr.track td.duration {
  font-size: 75%;
  color: #666;
  text-align: right;
}

tr.track td.actions {
  width: 40px;
}

.track.ui-sortable-helper td.actions, .track.ui-sortable-helper td.duration {
  display: none;
}


/* Search results should fill the window */
#panel_search table {
  width: 100%;
}


/* Playlists should fill the window */
#panel_playlists .tab-content, #panel_playlists .tab-panel {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#panel_playlists_contents .tab-pane {
  height: 100%;
}

#panel_playlists_contents table, #panel_playlists_contents tbody {
  width: 100%;
}


/* Message about empty playlist */
#panel_playlists_contents tr.message-empty td {
  font-size: 200%;
  color: #999;
  text-align: center;
}

#panel_playlists_contents tr.message-empty .text {
  line-height: 150%;
  border: 2px dashed #ccc;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 20px;
  margin: 20px;
}
