!!!
%html
  %head
    %title 
      ="#{session[:soundcloud_username]}'s CloudAmp"
      
    =stylesheet_link_tag :player
    =javascript_include_tag "http://connect.soundcloud.com/sdk.js"
    =javascript_include_tag :player
  
  %body.player
    .container-fluid#app
      .row-fluid
        .span4.sidepanel#panel_search
          .search-box
            .control-group
              .controls
                .input-prepend
                  %span.add-on
                    %i.icon-search
                  %input#search_field{ :type => "text", :placeholder => "user name, track name, URL..." }
                  %input#search_button.btn{ :type => "button", :value => "S" }

            #panel_search_results.search-results
              %ul
          
        .span6#panel_playlists
          %nav#panel_playlists_tabs
            %ul
            %a.btn.btn-small#new_playlist_button
              %i.icon-plus
              
            #modal_new_playlist.modal.fade.hide{ :tabindex => -1, :role => "dialog", :"aria-labelledby" => "modal_new_playlist_title", :"aria-hidden" => "true" }
              .modal-header
                %button.close{ :type => "button", :"data-dismiss" => "modal", :"aria-hidden" => "true" }
                  ×
                %h3
                  Add Playlist
              .modal-body
                %p
                  Please name your new playlist and give it an optional description.
                .alert.alert-error.hide#modal_new_playlist_error_title_empty
                  Title cannot be empty.
                %form.form-horizontal
                  .control-group
                    %label#modal_new_playlist_label_title.control-label{ :for => "modal_new_playlist_form_title" }
                      Title *
                    .controls
                      %input#modal_new_playlist_field_title{ :type => "text" }
                  .control-group
                    %label.control-label{ :for => "modal_new_playlist_form_description" }
                      Description
                    .controls
                      %input#modal_new_playlist_field_description{ :type => "text" }
                      
              .modal-footer
                %button.btn{ :"data-dismiss" => "modal", :"aria-hidden" => "true" }
                  Cancel
                %button.btn.btn-primary#modal_new_playlist_submit
                  Add playlist
                
            
          #panel_playlists_contents
          
          
        .span2.sidepanel#panel_user_info
          Welcome
          =session[:soundcloud_username]
          =button_to "Sign out", session_path, :method => :delete, :class => "btn btn-block"




      
    %script#search-result-template{ :type => "text/template" }
      .thumbnail.artwork
        %img{ :src => "<%- artwork_url %>".html_safe }
      .title
        <%- title %>
      .clearfix
      
    %script#playlist-tab-template{ :type => "text/template" }
      .title
        <%- title %>
      
  
  
      
  :javascript
    $(function() {
      window.APP.bootstrap_playlists(#{ @current_user.playlists.ordered.filtered_for_views.to_json.html_safe });
    });
  
