!!!
%html
  %head
    %title 
      ="#{session[:soundcloud_username]}'s CloudAmp"
      
    =stylesheet_link_tag :player
    =javascript_include_tag "http://connect.soundcloud.com/sdk.js"
    =javascript_include_tag :player
  
  %body.player
    .container-fluid#app
      .row-fluid
        .span4.sidepanel#panel_search
          .search-box
            .control-group
              .controls
                .input-prepend
                  %span.add-on
                    %i.icon-search
                  %input#search_field{ :type => "text", :placeholder => "user name, track name, URL..." }
                  %input#search_button.btn{ :type => "button", :value => "S" }

            #panel_search_results.search-results
              %ul
          
        .span6#panel_playlists
          %nav#panel_playlists_tabs
            %ul
            
          #panel_playlists_contents
          
          
        .span2.sidepanel#panel_user_info
          Welcome
          =session[:soundcloud_username]
          =button_to "Sign out", session_path, :method => :delete, :class => "btn btn-block"


      
    %script#search-result-template{ :type => "text/template" }
      .thumbnail.artwork
        %img{ :src => "<%- artwork_url %>".html_safe }
      .title
        <%- title %>
      .clearfix
      
    %script#playlist-tab-template{ :type => "text/template" }
      XXX
      
      
  :javascript
    $(function() {
      window.APP.bootstrap_playlists(#{ @current_user.playlists.ordered.filtered_for_views.to_json.html_safe });
    });
  
