!!!
%html
  %head
    %title 
      ="#{session[:soundcloud_username]}'s CloudAmp"
      
    =stylesheet_link_tag :player
    -if Rails.env == "development"
      =javascript_include_tag "libraries/soundcloud"
    -else
      =javascript_include_tag "http://connect.soundcloud.com/sdk.js"
    =javascript_include_tag :player
    =csrf_meta_tag
  
  %body.player
    .container-fluid#app
      .row-fluid
        =render :partial => "modal_playlist_form"

        =render :partial => "panel_search"
        =render :partial => "panel_playlists"
        =render :partial => "panel_user_info"

        =render :partial => "templates_tracks"
        =render :partial => "templates_playlists"

  
  :javascript
    $(function() {
      window.APP.bootstrap_playlists(
        #{ @current_user.playlists.ordered.includes(:tracks).to_json( :only => [ :id, :title, :description ], :include => { :tracks => { :only => [ :id, :title, :track_url, :artwork_url, :position ] } } ).html_safe }
      );
    });
  
