!!!
%html
  %head
    %title 
      ="#{session[:soundcloud_username]}'s CloudAmp"
      
    =stylesheet_link_tag :player
    =javascript_include_tag "http://connect.soundcloud.com/sdk.js"
    =javascript_include_tag :player
    =csrf_meta_tag
  
  %body.player
    .container-fluid#app
      .row-fluid
        =render :partial => "panel_search"
        =render :partial => "panel_playlists"
        =render :partial => "panel_user_info"

  
  :javascript
    $(function() {
      window.APP.bootstrap_playlists(#{ @current_user.playlists.ordered.filtered_for_views.to_json.html_safe });
    });
  
