!!!
%html
  %head
    %title 
      ="#{session[:soundcloud_username]}'s CloudAmp"
      
    =stylesheet_link_tag "http://fonts.googleapis.com/css?family=Average+Sans"
    =stylesheet_link_tag :player
    -if Rails.env == "development"
      =javascript_include_tag "libraries/soundcloud-sdk"
    -else
      =javascript_include_tag "http://connect.soundcloud.com/sdk.js"
    =javascript_include_tag :player
    =csrf_meta_tag
  
  %body.player#app
    .top
      =render :partial => "panel_user_info"

    .main
      =render :partial => "panel_player"
      =render :partial => "panel_search"
      =render :partial => "panel_playlists"

    .templates
      =render :partial => "templates_tracks"
      =render :partial => "templates_playlists"

    .modals
      =render :partial => "modal_bookmarklet"
      =render :partial => "modal_about"

  
  :javascript
    $(function() {
      window.APP.bootstrap_playlists(
        #{ @current_user.playlists.ordered.includes(:tracks).to_json( :only => [ :id, :title, :description ], :include => { :tracks => { :only => [ :id, :title, :track_url, :artwork_url, :duration ] } } ).html_safe }
      );
    });
  
