!!!
%html
  %head
    %title 
      CloudAmp
    =stylesheet_link_tag :welcome
    =stylesheet_link_tag "http://fonts.googleapis.com/css?family=Average+Sans"
  
  %body.welcome
    .welcome-background
    .welcome-modal
      =yield
